fastapi
uvicorn
gunicorn
python-multipart
openai
python-dotenv
numpy
pandas
scikit-learn
joblib
sqlalchemy
psycopg2-binary
geoalchemy2
shapely
geopandas
rasterio
rio-tiler
pystac
pystac-client
requests
boto3
Pillow
DSSATTools==3.0.0
